@font-face {
    font-family: pTserif_Italic;

    src: url(fonts/PTSerif-Italic.ttf) format('ttf');
    
       
 }

body{
    width: 100%;
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

#show{
    display:none;
}
nav.header{
	height: auto;
	width: 100%;
    display: block;
    background-color: honeydew;
    margin-bottom: 5px;
}

#student{
    font-size: 50px;
    width: 80%;
    font-family: roboto, display, sans-serif;
   
}

#students{
    font-size: 45px;
}

nav.header ul li {
    display: inline-block;
    height: auto;
	line-height: 2em;
    
}

nav.header li a {
	
    color: black;
    /* background-color: greenyellow; */
    text-decoration: none;
    width: 20%;
    margin-right: 5px;
    margin-left: 2px;
  

}



nav.vertical li a:hover, nav.vertical li a:active {
	color: white;
	background-color: rgb(51, 51, 51);
}



img{
    width: 100%;
}

.image7{
    width: 20%;
}

.image{
    width: 30%;
    display: inline-block;
    margin: 15px;
    padding-left: 10px;
    height: 20%;
    font-family: cursive;
   
}

#titles{
    text-align: center;
}


.image > a > img {
    height: 200px;
}

.images{
    background-color: palegoldenrod;
    width: 95%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    vertical-align: center;
    margin-bottom: 10px;
}

#portfolio{
    padding-top: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.sdetails{
    display: inline-block;
    margin-bottom: 30px;
    
}

#describe{
    display: block;
    float: left;
    width: 44%;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    font-size: medium;

}

#studentpic{
    display: block;
    float: right;
    width: 100%;
    margin-right: 70px;
    height: 300px;
}

.contact{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color:beige;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#studentbelow{
    font-size: 15px;
    width: 80%;
   font-family: 'pTserif_Italic', sans-serif;
}

#id{
    font-size:15px;
}

#show{
    font-family: pTserif-Italic, sans-serif;
}
#glow{
font-family: pTserif-Italic, sans-serif;
}

#contact{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* 480px */
@media only screen and (max-device-width: 480px){
         
    nav.header{
        height: auto;
        width: 100%;
        display: block;
         text-align: center;
      
    }
    
    #student{
        font-size: 20px;
        width: 100%;
     
    }
    
    #studentpic {
      width: 100%;
      height: 300px;
      margin-right: 0px;
     
    }
    nav.header ul li {
        display: block;
        height: auto;
       line-height: 2em;        
    }
    
    nav.header li a {        
        color: black;        
        text-decoration: none;
        width: 100%;
        margin-right: .5px;
        margin-left: .5px;     
           
    }
    
    nav.vertical li a:hover, nav.vertical li a:active {
        color: white;
        background-color: rgb(51, 51, 51);
    }
    
    .sdetails{
        text-align: justify;
        display: inline-block;
        width: 100%;
        
    }

    #describe{
        display: block;
        width: 100%;
        margin-left: 0px;
        text-align:justify;
    }
    
    
    
    img{
        width: 100%;
    }
    
    .image7{
        width: 20%;
    }
    
    .image{
        width: 95%;
        display: inline-block;
        margin-left: 8px;
        padding-left: 0px;
        /* vertical-align: center ; */
        height: auto;
        
    }
    
    
    
    .image > a > img {
        height: 200px;
        width: 100%;
    }
    
    .images{
        background-color: beige;
        width: 100%;
        display: block;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        /* vertical-align: center; */
        margin-bottom: 10px;
        text-align: justify;
        height: auto;
    }
    
    .image{
        width: 95%;
        display: inline-block;
        margin-left: 8px;
        padding-left: 0px;
        /* vertical-align: center ; */
        
    }

    #portfolio{
        padding-top: 15px;
        vertical-align: middle;
        text-align: center;
    }
    
    
    .contact{
        display: inline-flexbox;
        /* vertical-align: center; */
        text-align: center;
        /* width: 50%; */
        margin-left: auto;
        margin-right: auto;
        background-color: papayawhip;
    }
    
    
    #studentbelow{
        display: inline-block;
        font-size: 15px;
        width: 50%;
        text-align: left;
        float: left
       
    }

    
    #glow{
        display: none;
    }

    #show{
        display:block;
        float: right;
        font-size: 15px;

    }


}
@media only screen and (min-device-width: 720px) {
    
    
    nav.header ul li {
        display: inline-block;
        height: auto;
        line-height: 2em;
  
    }
    
    nav.header ul{
        text-align: center;
    }

    #student{
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-left: none;
    }
    
    .image{
        width: 45%;
        display: inline-block;
        margin: 15px;
        padding-left: 10px;
        
    }
      
   
    #studentpic{
        display: block;
        float: right;
        width: 30%;
        margin-right: 15px;
        height: 300px;
    }
    
    .contact{
        display: block;
        /* vertical-align: center; */
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        background-color: papayawhip;
    }
    
    #studentbelow{
        display: inline-block;
        font-size: 15px;
        width: 50%;
        text-align: left;
        float: left
       
    }

    
    #glow{
        display:block;
        float: right;
        font-size: 15px;

    }

    #show{
        display:none;
        margin-left: 10px;
        
    }

    
}

@media only screen and (min-device-width: 1024px){
    nav.header{
        height: auto;
        width: 100%;
        display: block;
        background-color: honeydew;
        margin-bottom: 5px;
    }
    nav.header ul li {
        display: inline-block;
        height: auto;
        line-height: 2em;
        
    }
    
   
    #student{
        text-align: left;
        font-size: 30px;
        width: 70%;
        }
    
    
    
    nav.header li a {
        
        color: black;
        text-decoration: none;
        width: 10%;
        margin-right: 5px;
        margin-left: 2px;              
    }
    
    .image{
        width: 30%;
        display: inline-block;
        margin: 15px;
        padding-left: 10px;
        
    }
    

}